.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage
mlruns
mlartifacts
data
!docker
reports
docs
tests
airflow/logs
airflow/db
models/candidate
notebooks
*.md
!README.md
.env
